@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
    --primary-color: #fff;
    --secondary-color: #000;
}

html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--secondary-color);
    margin: 0;
    font-family: 'DM Serif Display', serif;
    color: var(--secondary-color);
    font-weight: 400;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 2rem;

}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    color: var(--primary-color);
    margin: 0;
    line-height: 1;
    margin-bottom: 2rem;
    z-index: 9;
    font-weight: 400;

    text-align: center;
}

input{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    margin-bottom: 2rem;
    width: 80%;
    text-align: center;
    z-index: 9;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

button {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1rem;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    z-index: 9;

    cursor: pointer;
}

#moon-container {
    position: relative;
    width: 400px;
    height: 400px;
}

img {
    width: 100%;
    position: absolute;
}

.top-image {
    top: -100%;
}

.bottom-image {
    top: 100%;
}

@keyframes show-image {
    0% {
      top: -100%;
    }
    100% {
      top: 0%;
    }
}

.top-image {
    animation: show-image 4s ease-in-out forwards;

}

@keyframes show-image-bottom {
    0% {
      top: 100%;
    }
    100% {
      top: 0%;
    }
}

.bottom-image {
    animation: show-image-bottom 4s ease-in-out forwards;
    mix-blend-mode: lighten;

}