@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
    --primary-color: #fcfbfc;
    --secondary-color: #111;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

html{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: var(--secondary-color);
    margin: 0;
    font-family: 'DM Serif Display', serif;
    color: var(--primary-color);
    font-weight: 400;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    z-index: 9;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    z-index: 9;
}

#page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 2rem;
    width: min(100%, 480px);

    height: 100%;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    color: var(--primary-color);
    margin: 0;
    line-height: 1;
    margin-bottom: 2rem;
    z-index: 9;
    font-weight: 400;

    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 9;
}


a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    z-index: 9;
}

#moon-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1.2962962963;

    margin: auto;
}

img {
    width: 100%;
    position: absolute;
}

.top-image {
    top: -100%;
}

.bottom-image {
    top: 100%;
}

@keyframes show-image {
    0% {
      top: -100%;
    }
    100% {
      top: 0%;
    }
}

.top-image {
    animation: show-image 4s ease-in-out forwards;

}

@keyframes show-image-bottom {
    0% {
      top: 100%;
    }
    100% {
      top: 0%;
    }
}

.bottom-image {
    animation: show-image-bottom 4s ease-in-out forwards;
    mix-blend-mode: lighten;

}